body{
    background-size:cover ;
}

.heading{
    width: 100%;
    font-family: "comic sans ms";
    margin-top: 0;
    font-size: 20px;    
}

.footer{
    width: 100%;
    line-height: 3 ;
    color: blanchedalmond;
    background-color: dimgrey;
    bottom: 0;
    text-align: center;
    position: fixed;
   
}